<p>Xin chào {{ name }},</p>
<p>Nhấn vào liên kết ở dưới để xác nhận email của bạn</p>
<p>
    <a href="{{ url }}">Xác nhận</a>
</p>

<p>Nếu bạn không thực hiện hành động này, bạn có thể bỏ qua email này.</p>
