<p>Xin chào {{ name }},</p>
<p>Nhấn vào liên kết ở dưới để đặt lại mật khẩu của bạn</p>
<p>
    <a href="{{ url }}">Đặt lại mật khẩu</a>
</p>

<p>Nếu bạn không thực hiện hành động này, bạn có thể bỏ qua email này.</p>
