<p>Xin chào {{ name }},</p>
<p>Món ăn '{{ postName }}' của bạn đã bị xóa do vi phạm các quy định của chúng tôi.</p>
<p>Vui lòng xem lại <a href="#">quy định</a> của chúng tôi và không lặp lại các vi phạm này trong tương lai</p>
<p>Trân trọng!</p>